<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartbus.heze">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_PROCESS_LIMIT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_welcome"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_welcome"
        android:supportsRtl="true"
        android:theme="@style/NoAction">
        <activity android:name=".welcome.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.activity.LoginActivity" />
        <activity android:name=".main.activity.MainActivity" />
        <activity android:name=".main.notice.activity.NoticeDetailActivity" />
        <activity android:name=".main.notice.activity.NoticeListActivity" />
        <activity android:name=".fileapprove.FileMainActivity" />
        <activity
            android:name=".fileapprove.activity.DepartBudgetActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.BorrowAccidentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".fileapprove.activity.DepartmentActivity" />
        <activity
            android:name=".fileapprove.activity.CurrencyAccidentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.HuiQianActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.WorkPersonActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.FileCirculateActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DocumentLZActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".oaflow.OaMainActivity" />
        <activity
            android:name=".oaflow.activity.UserdLeaveActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.AddWorkActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DepartBudgetWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.BorrowAccidentWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.HuiQianWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.CurrencyAccidentWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.FileCirculateWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DocumentLZWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.WorkOnePersonActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.OldWorkActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.AtWorkActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.CheckWorkActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.UserdLeaveWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.AddWorkWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.OldWorkWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.AtWorkWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.CheckWorkWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity.RCJCActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity.SafeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".checkup.activitydata.LineCodeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".checkup.activitydata.CarCodeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".checkup.activitydata.UserCodeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".checkup.activitydata.CheckPersonActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
    </application>

</manifest>